body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}
.products{
    max-width: 530px;
}
.inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px 270px 270px 270px 270px;
}
.card {
    text-align: center;
    height: 390px;
}
.btn{
    display: inline-block;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: orange;
    transition: background .2s linear;
}
.img {
    width: 120px;
}
.btn:hover{
    background: lightgreen;
}
.btn:active{
    padding: 9px 18px;
}
.trash {
    width: 25px;
}
.interface {
    display: inline-block;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-size-adjust: 10px;
    background: orange;
    margin: 0px 2px 0px 2px;
    transition: background .2s linear;
    color:black;
}
.interface:hover{
    background: lightgreen;
}
.interface:active{
    padding: 9px 9px;
}
